@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* *{border: 1px solid #000000;} for troubleshooting */

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

body {
    background-color: #CCC;
    margin: 0;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

 #header {
    max-height: 5%;
    background-color: #AAA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.logo {
    display: flex;
    color: #F9FAF9;
    font-size: 24px;
    margin: 0;
}

#hero {
    /* border: 2px solid green; */
    margin: 0;
    min-height: 85vh;
    display: flex;
    align-content: center;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#tools {
    /* border: 2px solid rgb(43, 0, 255); */
    max-width: 80%;
    gap: 1em;
    margin-top: 2.5%;
    padding: none;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.tool {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: lighter;
}



button {
    width: 5em;
    height: 5em;
    font-size: 12px;
    color: #F9FAF8;
    background: #A0A0A0;
    margin: .5%;
    border: 1px solid lightgray;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
}

button:hover,
label:hover {
  transform: scale(1.1);
}

button:active {
  border: 5px solid salmon;
}

.active {
  border: 5px solid salmon;
}

#rainbow {
  color: grey;
  background: linear-gradient(-45deg, #ffd6d6,#faffb0,#c0ffb6,#d0ddff,#e1bfff);
}

#penLabel {
  width: 5em;
  height: 5em;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F9FAF8;
  background-color: #222222;
  margin: .5%;
  border: 1px solid lightgray;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
}
#penLabel.active {
  border: 3px solid salmon;
}

#penTool {
  visibility: hidden;
  width: 0px;;
  height: 0px;
}

#bgPicker {
  visibility: hidden;
  width: 0px;;
  height: 0px;
}

#bgLabel {
  width: 5em;
  height: 5em;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F9FAF8;
  background-color: #A0A0A0;
  margin: .5%;
  border: 1px solid lightgray;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
}
#bgLabel:active {  
  border: 3px solid salmon;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 70%; /* Full-width */
  height: 12px; /* Specified height */
  background: #a0a0a0; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 24px; /* Set a specific slider handle width */
  height: 24px; /* Slider handle height */
  background: #222222; /* Green background */
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
}



#gridHolder {
    min-width: 100%;
    aspect-ratio: 1/1;
    margin: top 12px;
    display:flex;
    height: fit-content;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.grid{
  aspect-ratio: 1/1;
  display: grid;
  border: 2px solid grey;
  background-color: #A0A0A0;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
}

.cell:hover{
  background-color: #fa807288;
  transform: scale(1.15);
}

#footer {
  max-height: .5%;
  background-color: #CCC;
  color: #333333;
  font-size: 16px;
  display: flex;
  justify-self: flex-end;
  justify-content: center;
  align-content: center;
  padding: none;
}

